body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
p{
    font-size:1rem;
    float:right;

}
.logo img{
    position:absolute;
    top:40%;
    left:40%;
}
.head{
    position:absolute;
    top:52%;
    left:40%;

}
.head input{
        width:100%;
        border-radius: 10px;
}
.buttons{
    position:absolute;
    top:60%;
    left:40%;
}
.buttons button{
    border-radius:10px;
    display:inline-block;
}
.bottom{
        position:absolute;
        top:91%;
        background-color: rgb(64, 62, 62);
        color:white;
        width:100%;
}
.bottom ul{
    padding:0;
    margin:0;
}
.bottom ul li{
    list-style-type: none;
    display:inline;
    padding:3px;
    

}
.bottom .home li{
    padding:0;
    margin:0;
    list-style-type: none;
    float:right;
    padding:3px;
}
a{
        text-decoration: none;
        color:white;
}